.compareOffersContainer {
    margin-top: 50px;
}

.compareOffersContent {
    padding: 20px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.compareOffersContainer p {
    font-size: 24px;
    line-height: 32px;
}

.offerItem {
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-decoration: none;
}

.offerItemImgContent {
    height: 100px;
    display: flex;
    align-items: center;
}

.offerItemImgContent img {
    max-width: 200px;
}

.priceContent {
    width: 215px;
    height: 30px;
    background-color: #183390;
    display: flex;
    justify-content: center;
    align-items: center;
}

.priceContent h4 {
    font-style: normal;
    font-size: 24px;
    line-height: 32px;
    color: #FFFFFF;
}

@media (max-width: 768px) {
    .compareOffersContent {
        padding: 0;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
    }

    .offerItemImgContent {
        height: 70px;
    }
}

@media (max-width: 576px) {
    .compareOffersContainer p {
        font-size: 12px;
        line-height: 16px;
    }
    .compareOffersContent {
        padding: 10px 0;
    }

    .offerItemImgContent {
        height: 50px;
    }

    .offerItemImgContent img {
        max-width: 100px;
    }
    
    .priceContent {
        width: 110px;
        height: 15px;
    }
    .priceContent h4 {
        font-size: 12px;
        line-height: 16px;
    }
}