/* Google Font CDN Link */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

.contact-main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 85vh;
  width: 100%;
  margin-top: 80px;
}

.contact-container {
  width: 60%;
  background: #fff;
  border-radius: 6px;
  padding: 20px 60px 30px 40px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.contact-container .contact-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contact-container .contact-content .left-side {
  width: 35%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  position: relative;
}

.contact-content .left-side::before {
  content: "";
  position: absolute;
  height: 70%;
  width: 2px;
  right: -15px;
  top: 50%;
  transform: translateY(-50%);
  background: #afafb6;
}

.contact-content .left-side .details {
  margin: 14px;
  text-align: center;
}

.contact-content .left-side .details .icon {
  font-size: 30px;
  color: var(--color-default);
  margin-bottom: 10px;
}

.contact-content .left-side .details .topic {
  font-size: 18px;
  font-weight: 500;
}

.contact-content .left-side .details .text-one,
.contact-content .left-side .details .text-two {
  font-size: 14px;
  color: #afafb6;
}

.contact-container .contact-content .right-side {
  width: 65%;
  margin-left: 75px;
}

.contact-content .right-side .topic-text {
  font-size: 23px;
  font-weight: 600;
  color: var(--color-default);
}

.right-side .input-box {
  height: 50px;
  width: 100%;
  margin: 12px 0;
}

.right-side .input-box input,
.right-side .input-box textarea {
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  font-size: 16px;
  background: #f0f1f8;
  border-radius: 6px;
  padding: 0 15px;
  resize: none;
}

.right-side .contact-message-box {
  min-height: 110px;
  margin: 12px 0;
}

.right-side .input-box textarea {
  padding-top: 6px;
}

.right-side .button {
  display: inline-block;
  margin-top: 12px;
}

.right-side .button input[type="button"] {
  color: #fff;
  font-size: 18px;
  outline: none;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  background: var(--color-default);
  cursor: pointer;
  transition: all 0.3s ease;
}

.button input[type="button"]:hover {
  background: var(--hover-color-blue);
}

@media (max-width: 950px) {
  .contact-container {
    width: 85%;
    padding: 30px 40px 40px 35px;
  }
  .contact-container .contact-content .right-side {
    width: 75%;
    margin-left: 55px;
  }
}
@media (max-width: 820px) {
  .contact-container {
    margin: 40px 0;
    height: 100%;
    width: 85%;
  }
  .contact-container .contact-content {
    flex-direction: column-reverse;
  }
  .contact-container .contact-content .left-side {
    width: 100%;
    flex-direction: row;
    margin-top: 40px;
    justify-content: center;
    flex-wrap: wrap;
  }
  .contact-container .contact-content .left-side::before {
    display: none;
  }
  .contact-container .contact-content .right-side {
    width: 100%;
    margin-left: 0;
  }
}
