.filterContainer {
    display: flex;
    justify-content: center;
    margin: 20px;
}

#div-search {
    display: flex;
    align-items: center;
    height: 2rem;
    width: 25vw;
    border-radius: 0.22rem 0 0 0.22rem;
    border: 0.18rem solid var(--color-default);
    padding: 0;
    background-color: #FFF;
}
  
.lupa {
    justify-content: center;
    border-radius: 0 0.22rem 0.22rem 0;
    height: 2rem;
    align-self: center;
    justify-self: center;
    background: rgba(0, 0, var(--color-default), 0.5);
    background-color: var(--color-default);
    border-right: 0.18rem solid var(--color-default);
    border-top: 0.18rem solid var(--color-default);
    border-bottom: 0.18rem solid var(--color-default);
}
.lupa-icon {
    padding-top: 4px;
}
  
  .lupa:hover {
    cursor: pointer;
  }
  
  .search {
    all: unset;
    height: 2rem;
    width: 30rem;
    font-weight: 600;
    margin-left: 1rem;
  }

  @media (max-width: 768px) {
      #div-search {
          width: 60%;
      }
  }