.footer {
  display: grid;
  justify-content: center;
  justify-items: center;
  background-color: var(--color-default);
  width: 100%;
  margin-top: 1%;
}
.footer p {
  margin: 2% 0 2%;
  color: #fff;
  text-align: center;
}
