.image-main {
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-modal-background);
  z-index: 106;
  /* transform: translate(0, -2%); */
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 !important;
}

.image-container {
  width: 60%;
  background: #fff;
  border-radius: 6px;
  padding: 20px 30px 30px 40px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.image-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  border-bottom: 1px solid var(--hover-color-grey);
  margin-bottom: 4px;
}

.image-header .close-image-btn {
  cursor: pointer;
  color: black;
  border: 1px solid black;
  border-radius: 25%;
}

.image-header .close-image-btn:hover {
  color: red;
  /* background-color: var(--hover-color-grey); */
  transition: 0.2s ease-in-out;
}

.image-header h4 {
  font-size: 1.2em;
}

.image-content {
  height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-content img {
  max-height: 100%;
  max-width: 100%;
}
