@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");

* {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

:root {
  --font-small: 0.875em;
  --font-normal: 1em;
  --font-medium: 1.2em;
  --font-large: 1.4em;
  --color-default: #1e5bc6;
  --color-green: #36ba9b;
  --color-yellow: #f5b946;
  --color-red: #d94352;
  --color-orange: #ff7421;
  --color-white: #fff;
  --color-pink: #e1097a;
  --color-blue: #1b9dd9;
  --color-modal-background: #10101091;
  --weight-light: 300;
  --weight-normal: 400;
  --weight-bold: 700;
  --weight-black: 900;
  --hover-color-green: #61ddbc;
  --hover-color-blue: #0682bb;
  --hover-color-pink: #e81785;
  --hover-color-yellow: #fcd277;
  --hover-color-red: #f76c82;
  --hover-color-blue: #1b9dd9;
  --hover-color-grey: #f1f1f1;
  --hover-duration: 0.3s;
  --gradient-green: linear-gradient(
    to right,
    #42e695 0%,
    #3bb2b8 50%,
    #42e695 100%
  );
  --gradient-blue: linear-gradient(
    to right,
    #1b9dd9 0%,
    #1b9dd9 50%,
    #c53364 50%,
    #622744 100%
  );
  --gradient-yellow: linear-gradient(
    to right,
    #fce38a 0%,
    #f38181 50%,
    #fce38a 100%
  );
  --radius-normal: 5px;
  --radius-medium: 10px;
  --radius-large: 20px;
  --radius-round: 50%;
  --index-back: -1;
  --index-fold: 2;
  --index-menu: 3;
  --index-modal: 4;
  --area-box: 10px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.home-container {
  position: relative;
}

.lazy-loading {
  min-height: 100vh;
  min-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-size: 16px;
  background-color: white;
  font-style: italic;
  margin: 0;
  padding: 0;
}

.totalList {
  margin-top: 120px;
}

.bar {
  width: 100%;
  height: 40px;
  background-color: #183390;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bar h4 {
  font-size: 24px;
  line-height: 32px;
  color: #FFFFFF;
}

@media (max-width: 576px) {
  .bar {
    height: 25px;
  }

  .bar h4 {
    font-size: 12px;
    line-height: 16px;
  }
}