.spinner-container {
  min-width: 100vw;
  min-height: 100vh;
  background-color: var(--color-modal-background);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner-inner-container {
  min-height: 100px;
  min-width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
