input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/*Tirar as setas FIM*/

.extra-tag {
  display: flex;
  justify-content: space-between;
}

.enter-tag {
  color: #1e5bc6;
}
.formUsuario {
  width: 50%;
  /* height: 100%; */
}

.login-card {
  background: rgba(255, 255, 255, 0.7);
  position: relative;
  z-index: 99;
  width: 88%;
  margin: 2% auto;
  text-align: center;
}

.login-card h2 {
  color: #1e5bc6;
  margin: 0;
}

.card-grid {
  display: flex;
  height: 100%;
  margin-top: 20px;
  justify-content: center;
  /* overflow-y: scroll;
  scrollbar-width: thin; */
}
.card-grid::-webkit-scrollbar {
  width: 7px;
}
.card-grid::-webkit-scrollbar-track {
  background: rgb(221, 221, 221);
}

.card-grid::-webkit-scrollbar-thumb {
  background-color: rgb(200, 200, 200);
  border-radius: 15px;
  /* border: 2px solid orange; */
}

.col-50 {
  width: 50%;
}

.load-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  margin-top: 5%;
  margin-bottom: 2%;
  border: 1px dashed #1e5bc6;
  border-radius: 15px;
  /* outline: 2px dashed #1e5bc6; */
}
.load-img:hover {
  background: rgb(241, 241, 241);
  cursor: pointer;
}

.loaded-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  margin-top: 5%;
  margin-bottom: 2%;
  border-radius: 15px;
  border: none;

  /* outline: 2px dashed #1e5bc6; */
}

.inputImagem {
  position: absolute;
  height: 90%;
  opacity: 0;
  cursor: pointer;
  width: 50%;
}
.imgPreview {
  width: 100%;
  height: 90%;
  border-radius: 50%;
  /* height: 50%; */
}
.card-cell {
  text-align: center;
  margin-top: 5%;
  margin-bottom: 2%;
}

.card-form {
  display: flex;
  flex-direction: column;
  padding: 1em 1em;
  text-align: left;
}
.card-form input {
  background: transparent;
  border: 0;
  border-bottom: 1px solid #bab6b4;
  padding: 5px;
  font-size: 1em;
  margin-bottom: 15px;
}
.card-form input:focus {
  outline: none;
  border-bottom: 2px solid #1e5bc6;
}

.card-form-button {
  background: #1e5bc6;
  border: none;
  border-radius: 25px;
  color: #ffffff;
  padding: 15px 50px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 300;
  cursor: pointer;
  white-space: normal;
  word-wrap: break-word;
  display: flex;
  justify-content: center;

  /* transition: all 300ms; */
}
.card-form-button:hover {
  background: #1e5bc6;
}
.card-form-button:focus {
  outline: none;
}

.btnDisabled {
  background: grey !important;
  color: black !important;
  cursor: not-allowed;
  border: none !important;
}

.tag-div {
  display: flex;
  justify-content: space-between;
}

.plus-tag {
  color: #1e5bc6;
}

.plus-tag:hover {
  cursor: pointer;
}

.less-tag {
  color: #1e5bc6;
}
.less-tag:hover {
  cursor: pointer;
}

.button-ghost {
  background: transparent;
  color: #1e5bc6;
  border: 2px solid #1e5bc6;
}

.button-ghost:hover {
  color: #ffffff;
}

.password-input {
  width: 100%;
  overflow: hidden;
  /* padding: 8px 0; */
  margin: 8px 0;
  border-bottom: 1px solid #bab6b4;
}

.password-input input {
  border: none !important;
  outline: none !important;
  background: none !important;
  width: 85%;
  margin: 0;
}

.password-input input:focus {
  outline: none;
  border-bottom: 2px solid #1e5bc6;
}

.passwordVisibility {
  width: 20px;
  float: right;
  text-align: center;
  color: #bab6b4;
  cursor: pointer;
}

.passwordVisibility:hover {
  color: var(--color-default);
}

/* Password classes */
.cadastro-senha {
  width: 100%;
  overflow: hidden;
  padding: 8px 0;
  margin: 8px 0;
  border-bottom: 1px solid #bab6b4;
  position: relative;
}

.cadastro-senha input {
  border: none !important;
  outline: none !important;
  background: none !important;
  width: 85%;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
}

.cadastro-senha input:focus {
  outline: none;
  border-bottom: 2px solid #1e5bc6;
}

.cadastro-senha.senha-fraca {
  border-bottom: 2px solid red !important;
}
.cadastro-senha.senha-aceita {
  border-bottom: 2px solid green !important;
}
/* End Password classes */

.form-senha-input:hover::after {
  content: "Senha deve conter 8 caracteres, um símbolo, número, letra maiuscula e minúsculo";
  position: absolute;
  left: 0;
  top: 75%;
  min-width: 200px;
  border: 1px #aaaaaa solid;
  border-radius: 10px;
  background-color: #ffffcc;
  padding: 6px;
  color: #000000;
  font-size: 14px;
  z-index: 1;
}
