.loja-main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 85vh;
  width: 100%;
  margin-top: 120px;
}

.loja-container {
  width: 60%;
  background: #fff;
  border-radius: 6px;
  padding: 20px 60px 30px 40px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  font-size: 16px;
  font-style: italic;
}

.loja-main-page {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 120px;
  margin-bottom: 16px;
}

.loja-container-main {
  width: 60%;
  background: #fff;
  border-radius: 6px;
  padding: 20px 60px 30px 40px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  font-size: 24px;
  display: flex;
  flex-wrap: wrap;
}

.loja-container-card {
  padding: 2%;
  flex: 1 1 205px;
  display: flex;
  border: 1px solid var(--hover-color-grey);
  transition: background-color 0.2s ease-in-out;
  justify-content: center;
}

.loja-container-card:hover {
  background-color: var(--hover-color-grey);
}

.loja-container-card a {
  text-decoration: none;
  color: var(--color-default);
}

.loja-container-card hr {
  color: var(--color-default) !important;
}

.loja-image img {
  height: 100px;
}

.loja-name {
  margin-top: auto;
}

@media (max-width: 920px) {
  .loja-container-card {
    flex: 1 30%;
  }
}
@media (max-width: 699px) {
  .loja-container-card {
    flex: 1 47%;
  }
}
