.messages-main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 85vh;
  width: 100%;
  margin-top: 80px;
}

.messages-main-container {
  width: 75%;
  height: 75vh;
  background: #fff;
  border-radius: 6px;
  padding: 20px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.messages-header {
  width: 100%;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
}

.messages-header-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.btn-message-delete {
  background-color: var(--color-default);
  color: white;
  border: none;
  outline: none;
  border-radius: 5px;
  height: 26px;
  margin-right: 6px;
  transition: background-color 0.2s ease-in;
  cursor: pointer;
}

.btn-message-delete:hover {
  background-color: var(--hover-color-blue);
}

.messages-content {
  max-width: 100%;
  height: 85%;
  overflow-y: scroll;
  border: 1px solid var(--hover-color-grey);
}

.messages-content-loading {
  width: 100%;
  height: 85%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--hover-color-grey);
}

.message-box {
  max-width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  border-bottom: 1px solid #dfdddd;
  /* transition: box-shadow 0.2s ease-in; */
  transition: box-shadow 0.2s cubic-bezier(0.55, 0.09, 0.68, 0.53);
}

.message-box:hover {
  /* background-color: var(--hover-color-grey); */
  box-shadow: 0px 0px 5px #a6a6a6;
}

.message-checkbox {
  margin-right: 8px;
  margin-left: 8px;
}

.message-box-content {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 8px;
  max-width: 93%;
  border-bottom: 1px solid var(--hover-color-grey);
  justify-content: space-between;
  align-items: center;
}

.message-box-content h5 {
  max-width: 70%;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  text-align: start;
}

.message-box-content p {
  max-width: 23%;
  margin: 0;
  font-size: 14px;
  text-align: end;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.message-read {
  font-weight: 500;
}

.message-not-read {
  font-weight: 800;
}

.messages-bottom {
  text-align: center;
  margin-top: 12px;
}

.messages-header-first-part {
  display: flex;
  align-items: center;
}

@media (max-width: 715px) {
  .message-box {
    overflow: hidden;
  }

  .message-box-content {
    flex-direction: column;
    align-items: flex-start;
  }

  .message-box-content h5 {
    max-width: 100%;
  }

  .message-box-content p {
    max-width: 100%;
    text-align: start;
  }

  .message-details-header h4 {
    font-size: 1em;
  }

  .message-details-content h5 {
    font-size: 0.8em;
  }
}

/* Message Details CSS */

.message-details-main {
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-modal-background);
  z-index: 105;
  transform: translate(0, -2%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.message-details-container {
  width: 60%;
  background: #fff;
  border-radius: 6px;
  padding: 20px 30px 30px 40px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.message-details-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--hover-color-grey);
  margin-bottom: 4px;
}

.message-details-header .close-message-btn {
  cursor: pointer;
  color: black;
  border: 1px solid black;
  border-radius: 25%;
}

.message-details-header .close-message-btn:hover {
  color: red;
  /* background-color: var(--hover-color-grey); */
  transition: 0.2s ease-in-out;
}

.message-details-header h4 {
  font-size: 1.2em;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.message-details-content h5 {
  font-size: 1em;
}

.message-details-content {
  height: 60vh;
  overflow-y: scroll;
}
