header {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  /* position: -webkit-sticky; */
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
}

.nav a {
  color: #183390;
}

.navbar1 {
  display: flex;
  align-items: center;
  flex: 1;
  margin: 0 5% 0;
  background-color: #fff;
}

.linha-horizontal {
  height: unset;
  width: 100wv;
  border-top: 0.15rem solid #e6e6e6;
}

.navbar2 {
  background-color: #ffffff;
  margin: 0 5% 0;
  justify-content: center;
  display: flex;
  align-items: center;
  flex: 1 0 30px;
  font-size: 15px;
  opacity: 1;
  transition: visibility 0.3s linear, opacity 1s ease-in;
}

.nav-items {
  margin-right: 8px;
}

.active-nav-item {
  color: red;
  font-weight: 500;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5rem 1% 0.5rem;
  color: black;
}

.logo img {
  width: 48px;
}

.logo a {
  margin: 0;
  padding: 0;
}

.div-user {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 2rem 0;
  color: var(--color-default);
  width: max-content;
}

.div-user:hover {
  cursor: pointer;
}

.bem-vindo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0.3rem;
  white-space: nowrap;
}

.bem-vindo:hover {
  cursor: pointer;
}

.label-bv {
  font-size: 0.8rem;
  font-weight: 800;
}

.label-bv:hover {
  color: var(--hover-color-blue);
  transition: color 0.3s;
}

.bem-vindo label:hover {
  cursor: pointer;
}

.link {
  background-color: #ffffff;
}

.navbar1 ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navbar1 ul li {
  align-self: center;
  padding: 0.25rem 1rem 0.5rem;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  margin-top: 0.2rem;
}
.navbar1 ul li a {
  text-decoration: none;
}

.navbar1 ul li:hover {
  /* border: 1px solid var(--color-default); */
  /* background-color: #e6e6e6; */
  background-color: var(--hover-color-grey);
}

.navDireita {
  /* width: 100%; */
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 2%;
  width: 100%;
}

.grudar {
  position: fixed;
}

.login {
  border: 1px solid #aaaaaa;
  font-weight: 400;
  /* background: rgb(255, 94, 0); */
  background: #fff;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 100;
  transition: transform 250ms cubic-bezier(0.5, 0, 0.5, 1);
  transform: translateX(50%);
}

.login-fechado {
  background: rgb(42, 76, 121);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 100;
  transition: transform 250ms cubic-bezier(0.5, 0, 0.5, 1);
  transform: translateX(100%);
}

/* END CARRINHO */
.EscurecerTela {
  position: absolute;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.7;
  transition: 0.5s;
  background-color: rgb(0, 0, 0);
  visibility: visible;
}

.ClarearTela {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0);
  opacity: 0;
  transition: 0.5s;
  visibility: hidden;
}

.semLogin {
  display: flex;
  justify-content: center;
  margin: 0;
  cursor: pointer;
  color: blue;
  text-decoration: underline;
  transform: translateX(-25%);
}

.form-btn {
  display: flex;
  justify-content: center;
  width: 50%;
  font-size: 16px;
}

.form-btn-text {
  display: flex;
  flex-direction: row;
  margin: 14px 0 0 0;
}

.form-btn-btn {
  border: none;
  text-decoration: none;
  outline: none;
  color: var(--color-default);
  font-weight: 500;
  letter-spacing: 0.5px;
  margin-left: 5px;
  transition: all 400ms ease-in-out;
  cursor: pointer;
  background-color: transparent;
  font-size: inherit;
}

.form-btn .form-btn-btn:hover {
  color: var(--hover-color-blue);
}

/* Navigation dropdown CSS */
.dropdown-container {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.dropdown-div-1 {
  display: flex;
}

.dropdown-div-2 {
  display: flex;
}

.dropdown-container img {
  width: 34px;
  padding: 2px;
  border: 2px solid var(--color-default);
  margin: 1px;
  border-radius: 50%;
}

.dropdownBtn {
  background-color: transparent;
  padding: 10px;
  color: var(--color-default);
  font-size: 16px;
  border: none;
  cursor: pointer;
  margin: 2px;
  transition: background-color 0.2s ease-in-out;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  min-width: 100px;
  text-align: initial;
}

.dropdown-content {
  position: absolute;
  top: 100%;
  left: 26%;
  background-color: #f9f9f9;
  min-width: 120px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 0.25rem;
  display: none;
  /* Little animation */
  animation: fadeInRight 0.3s ease;
  -webkit-animation: fadeInRight 0.3s ease;
}

.dropdown-content-center {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.dropdown-content a,
.dropdown-content button {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border: none;
  border-radius: 0.25rem;
  font-size: 16px;
}

.dropdown-content button {
  background-color: transparent;
  cursor: pointer;
}

.dropdown-content a:hover,
.dropdown-content button:hover {
  background-color: var(--hover-color-grey);
}

.dropdown-div-2:hover .dropdown-content {
  display: block;
}

.dropdown-div-2:hover .dropdownBtn {
  background-color: var(--hover-color-grey);
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

/* Desktop View */
.desktop-menu-view {
  display: flex;
}

/* Mobile Menu */
.mobile-menu {
  display: none;
  animation: fadeInRight 0.3s ease;
  -webkit-animation: fadeInRight 0.3s ease;
  color: var(--color-default);
  cursor: pointer;
}

.mobile-menu-view {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 1002;
  background-color: white;
  animation: fadeInRight 0.3s ease;
  -webkit-animation: fadeInRight 0.3s ease;
}

.mobile-menu-view ul {
  display: flex;
  flex-direction: column;
  font-size: 24px;
}

.mobile-menu-view ul li {
  text-transform: uppercase;
}

.close-nav-btn {
  position: absolute;
  top: 16px;
  right: 16px;
  color: black;
  border: 1px solid black;
  border-radius: 25%;
  cursor: pointer;
  z-index: 101;
}

.close-nav-btn:hover {
  color: red;
  background-color: var(--hover-color-grey);
  transition: 0.2s ease-in-out;
}

@media (max-width: 795px) {
  .desktop-menu-view {
    display: none;
  }

  .mobile-menu {
    display: block;
  }

  .formUsuario {
    width: 100%;
  }
  .login {
    transform: translateX(0);
  }
  .form-btn {
    width: 100%;
  }

  .mob-view-100 {
    width: 100%;
  }
}
/* End of Navigation dropdown */

/* 
@media (max-width: 768px) {
  .navbar2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .limite {
    margin: 0.2%;
    align-self: center;
  }

  .navbar2 ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
  }

  .navbar1 {
    margin: 0 1% 0;
  }

  .navbar1 #div-search {
    width: 80%;
  }

  .div-user {
    display: none;
  }

  .navDireita {
    width: 7%;
  }

  .user-icon {
    width: 100%;
  }

  .navbar2 ul li {
    display: flex;
    justify-content: center;
  }
} */
