.pagination-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 35px 0 30px -50px;
}

.pagination-container a:focus {
    outline: none;
}

.pagination-previous {
    transform: rotate(-180deg);
    margin-right: 25px;
}
.page-active {
    cursor: pointer;
    color: var(--color-default);
}

.page-inactive {
    color: #E1E1E1;
    pointer-events: none;
}

.pagination-next {
    margin-left: 15px;
}
.pagination-item {
    width: 35px;
    height: 35px;
    background: #E1E1E1;
    border-radius: 50%;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.015em;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-right: 10px;
}

.active {
    background: var(--color-default);
}

.pagination-item:hover {
    color: #FFFFFF;
}

.pagination {
    display: flex;
    align-items: center;
}

::marker {
    content: "";
}