.product-details-container {
  margin: 200px 0 100px;
}

.product-details-info {
  margin-left: 40px;
  margin-right: 40px;
}

.product-details-info a {
  font-size: 36px;
  line-height: 48px;
  color: #183391;
}

.product-details-title {
  font-size: 64px;
  line-height: 85px;
  /* color: #000; */
  margin-bottom: 20px;
}

.product-details-content {
  display: flex;
  flex-direction: row;
}

.product-details-card {
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25),
    0px 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid #9e9e9e;
  border-radius: 20px;
  padding: 40px;
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-details-image {
  width: 440px;
  height: 100%;
}

.product-details-description {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
}

.product-details-description-item {
  width: 100%;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  /* color: #000; */
  margin: 20px 0;
}

.product-details-description-item h4 {
  font-size: 28px;
  line-height: 37px;
  width: 50%;
}

.product-details-description-item p {
  font-size: 28px;
  line-height: 37px;
  width: 50%;
}

@media (max-width: 992px) {
  .product-details-content {
    flex-direction: column;
    align-items: center;
  }

  .product-details-card {
    width: 80%;
  }

  .product-details-description {
    margin-top: 20px;
    width: 90%;
  }
}

@media (max-width: 576px) {
  .product-details-container {
    margin: 150px 0 50px;
  }

  .product-details-info a {
    font-size: 18px;
    line-height: 24px;
  }

  .product-details-title {
    font-size: 36px;
    line-height: 43px;
  }

  .product-details-image {
    width: 100%;
  }

  .product-details-description-item {
    height: 5px;
  }

  .product-details-description-item h4 {
    font-size: 14px;
    line-height: 19px;
  }

  .product-details-description-item p {
    font-size: 14px;
    line-height: 19px;
  }
}
/* 
@media screen and (min-width: 992px) {
  .card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.5rem;
  }
  .card-wrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .product-imgs {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .product-content {
    padding-top: 0;
  }
} */
