.regiao-main-page {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 120px;
  margin-bottom: 16px;
}

.regiao-container-main {
  width: 60%;
  background: #fff;
  border-radius: 6px;
  padding: 20px 60px 30px 40px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  font-size: 24px;
  display: flex;
  flex-wrap: wrap;
}

.regiao-container-card {
  padding: 2%;
  flex: 1 1 100px;
  display: flex;
  border: 1px solid var(--hover-color-grey);
  transition: background-color 0.2s ease-in-out;
  justify-content: center;
}

.regiao-container-card:hover {
  background-color: var(--hover-color-grey);
}

.regiao-name {
  margin-top: auto;
  text-align: center;
}

@media (max-width: 920px) {
  .regiao-container-main {
    width: 70%;
  }

  .regiao-container-card {
    flex: 1 22%;
  }
}
@media (max-width: 699px) {
  .regiao-container-main {
    width: 75%;
  }
  .regiao-container-card {
    flex: 1 45%;
  }
}
