.reviewsContent {
    margin: 20px 50px 0 20px;
}

.review-item-content {
    margin: 25px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.reviewsContainer h4 {
    width: 90px;
    margin-right: 3%;
}

.reviewsContainer h4,
    .reviewsContainer p,
    .reviewsContainer textarea {
    font-size: 24px;
    line-height: 32px;
}

.reviewsContainer img {
    margin-right: 45px;
    background-color: #D0E0FF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.review-item-score-text {
    margin-left: 30px;
    min-height: 50px;
}

.create-review-container {
    display: flex;
    flex-direction: row;
}

.create-review-container img {
    margin-top: 25px;
}

.create-review-form {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.create-review-form-text {
    width: 83%;
    height: 120px;
    padding: 20px;
    border: 1px solid #E1E1E1;
    margin-bottom: 35px;
    color: #555;
}

.create-review-form-text:focus {
    outline: none;
}

.create-review-form-btn {
    width: 30%;
    height: 40px;
    background-color: #183390;
    color: #FFF;
    align-self: flex-end;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 576px) {
    .reviewsContent {
        margin: 10px 25px 0 10px;
    }

    .reviewsContainer img {
        margin-right: 30px;
    }

    .reviewsContainer h4 {
        width: 50px;
        margin-right: 2%;
    }
    .reviewsContainer h4,
    .reviewsContainer p,
    .reviewsContainer textarea {
    font-size: 12px;
    line-height: 16px;
    }
    .create-review-form-btn {
        height: 30px;
    }  
}